* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}
.container {
  height: 75vh;
  width: 1140px;
  margin: 0 auto;
  padding: 40px;
}

.image {
  width: 50%;
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
}
